/*Importing the font for the page*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');

* {
    font-family:'PT Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
/* Background of the container*/
body{
    background-color: rgba(250, 128, 114, 0.363);
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);

}
#infoCons{
    width: 350px;
    height: 65px;
    background: salmon;
    border-radius: 40px;
    overflow: hidden;
    transition: all 0.2s ease;
}

#infoCons ul li a {
    display:flex;
    height: 65px;
    align-items: center;
    padding: 0 35px;
    color:salmon;
    background-color: rgba(255, 255, 255, 0.39);
}

#infoCons ul li a.info_btn{
    justify-content: center;
}
#infoCons ul li a.info_btn .text{
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 5px;
    color:rgba(36, 2, 2, 0.678);
}
#infoCons ul li a.info_btn .icon{
    width: 35px;
    height: 35px;
    background:rgba(36, 2, 2, 0.678);
    display: inline-block;
    border-radius: 50%;
    transition: all 1s ease;
    position: relative;
}
#infoCons ul li a .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#infoCons ul li a.sm .icon{
    position: relative;
    width: 35px;
    height: 35px;
    background: rgba(253, 253, 253, 0.678);
    border-radius: 50%;
    margin-right:15px;
}
#infoCons ul li a .text{
    letter-spacing: 2px;
}

/**/
#infoCons ul li a.twitter .icon{
    background-color: #1da1f2;
}
#infoCons ul li a.twitter .text{
    color:  #1da1f2;
}
#infoCons ul li a.twitter:hover{
    background-color: rgba(12, 5, 5, 0.37) 
}
#infoCons ul li a.linkedin .icon{
    background-color:#0e76a8;
}
#infoCons ul li a.linkedin .text{
    color:  #0e76a8;
}
#infoCons ul li a.linkedin:hover{
    background-color: rgba(12, 5, 5, 0.37);
}


#infoCons ul li a.instagram .icon{
    background-color: #c32aa3;
}
#infoCons ul li a.instagram .text{
    color: #c32aa3;
}
#infoCons ul li a.instagram:hover{
    background-color: rgba(12, 5, 5, 0.37);
}
#infoCons ul li a.facebook .icon{
    background-color: #3b5998;
}
#infoCons ul li a.facebook .text{
    color:  #3b5998;
}
#infoCons ul li a.facebook:hover{
    background-color: rgba(12, 5, 5, 0.37);
}
#infoCons ul li a.bell .icon{
    background-color: #5729c4;
}
#infoCons ul li a.bell .text{
    color:  #5729c4;
}
#infoCons ul li a.bell:hover{
    background-color: rgba(12, 5, 5, 0.37);
}

#infoCons.active{
    height: 400px;
    background: rgba(255, 252, 252, 0.973);

}
#infoCons.active ul li a.info_btn .icon{
    transform: rotate(45deg);
}
#infoCons ul li a.sm{
	visibility: hidden;
}
#infoCons.active ul li a.sm {
    visibility: visible;
    transition-delay: 0.3s;
}
