body {
  background-color: black;
  color: #d2d2d2;
  justify-content: center;
}

button {
  display: block;
  margin: 20px auto;
  border: 1px solid black;
  background: #014880;
  color: #d2d2d2;
  font-size: 20px;
  line-height: 22px;
  padding: 16px 24px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: #d2d2d2(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

button .search {
  background-color: #d2d2d2;
}

#websiteImg {
  max-width: 100%;
  height: 8rem;
}

#deathToll {
  font-size: 14px;
  text-align: center;
  padding: 15px;
  background-color: #bd2b2f;
}

#deathToll:hover {
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
  color: black;
}

#covidInfoImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#state {
  display: inline-block;
  width: 390px;
  margin: 20px auto;
  background-color: #d2d2d2;
  border: 1px solid black;
  font-size: 20px;
  line-height: 22px;
  padding: 16px 24px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: #d2d2d2(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

#locationDiv {
  background-color: #d2d2d2;
  border-style: solid;
  border-color: black;
  color: black;
  width: 75%;
  transition: all 200ms ease;
  box-shadow: #d2d2d2(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  padding: 16px 24px;
  border-radius: 30px;
}
#articleStuff {
  background-color: #d2d2d2;
  border-style: solid;
  border-color: black;
  color: black;
  width: 75%;
  transition: all 200ms ease;
  box-shadow: #d2d2d2(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  padding: 16px 24px;
  border-radius: 30px;
}

#searchResponse {
  margin: 0 auto;
  width: 75%;
}

#phoneNumberAttr,
#addressAttr {
  font-size: 1.3rem;
  color: #bd2b2f;
}

#descriptionAttr {
  font-size: 1.2rem;
  font-style: italic;
}

.saveBtn {
  float: right;
}

#article-section {
  background-color: #ffffff;
  color: black;
}

.articleHeadline {
  background-color: #d2d2d2;
  border-style: solid;
  border-color: #ffffff;
  color: black;
  width: 75%;
  transition: all 200ms ease;
  box-shadow: #d2d2d2(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  padding: 16px 24px;
  border-radius: 30px;
  display: inline-block;
}

.articleHeadline button {
  color: #d2d2d2;
  font-size: small;
  margin: 5px;
  padding: 4px 6px;
  display: inline-block;
}

.ulArticle {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

#articleHeader {
  margin-left: 3%;
  font-family: sans-serif;
}

.btnHome {
  width: 100%;
}

#diffcolorhomepage {
  background-color: #ffffff;
}

/*Importing the font for the page*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap");

.infoButtonPage {
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%, -50%);
  font-family: "PT Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#infoCons {
  width: 250px;
  height: 65px;
  background: #014880;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.2s ease;
  margin-top: 0;
}

#infoCons ul li a {
  display: flex;
  height: 65px;
  align-items: center;
  padding: 0 35px;
  color: #d2d2d2;
  background-color: #014880;
}

#infoCons ul li a.info_btn {
  justify-content: center;
}

#infoCons ul li a.info_btn .text {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0px;
  left: 14px;
  color: #d2d2d2(36, 2, 2, 0.678);
}

#infoCons ul li a.info_btn .icon {
  width: 35px;
  height: 35px;
  background: #d2d2d2(36, 2, 2, 0.678);
  display: inline-block;
  border-radius: 50%;
  transition: all 1s ease;
  position: relative;
  justify-content: space-around;
}

#infoCons ul li a .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#infoCons ul li a.sm .icon {
  position: relative;
  width: 35px;
  height: 35px;
  background: #d2d2d2(36, 2, 2, 0.678);
  border-radius: 50%;
  margin-right: 15px;
}

#infoCons ul li a .text {
  letter-spacing: 2px;
}

#infoCons ul li a.twitter .icon {
  background-color: #1da1f2;
}

#infoCons ul li a.twitter .text {
  color: #d2d2d2;
}

#infoCons ul li a.rss .icon {
  color: #ff4500;
}

#infoCons ul li a.rss .text {
  color: #d2d2d2;
}

#infoCons ul li a.linkedin .icon {
  background-color: #34526f;
}

#infoCons ul li a.linkedin .text {
  color: #d2d2d2;
}

#infoCons ul li a.instagram .icon {
  color: #c32aa3;
  border-radius: 0;
}

#infoCons ul li a.instagram .text {
  color: #d2d2d2;
}

#infoCons ul li a.facebook .text {
  color: #d2d2d2;
}

#infoCons.active {
  height: 400px;
  background: #d2d2d2(0, 0, 0, 0.288);
}

#infoCons.active ul li a.info_btn .icon {
  transform: rotate(45deg);
}

#infoCons ul li a.sm {
  visibility: hidden;
}

#infoCons.active ul li a.sm {
  visibility: visible;
  transition-delay: 0.3s;
}

ul {
  list-style: none;
  justify-content: center;
  margin: 0 auto;
}
