body {
  background-color: black;
  color: #d2d2d2;
  justify-content: center;
}
button {
  display: block;
  margin: 20px auto;
  border: 1px solid black;
  background: #014880;
  color: #d2d2d2;
  font-size: 20px;
  line-height: 22px;
  padding: 16px 24px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

button .search {
  background-color: #d2d2d2;
}

#websiteImg {
  max-width: 100%;
  height: 8rem;
}

#deathToll {
  font-size: 14px;
  text-align: center;
  padding: 15px;
  background-color: #bd2b2f;
}
#deathToll:hover {
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
  color: black;
}

#covidInfoImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#state {
  display: inline-block;
  width: 390px;
  margin: 20px auto;
  background-color: #d2d2d2;
  border: 1px solid black;
  font-size: 20px;
  line-height: 22px;
  padding: 16px 24px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

#locationDiv {
  background-color: #d2d2d2;
  border-style: solid;
  border-color: black;
  color: black;
  width: 75%;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bolder;
  padding: 4px;
  margin: 5px;
}

#searchResponse {
  margin: 0 auto;
  width: 75%;
}
#locationDiv {
  background-color: white;
  color: black;
  padding: 5px;
  margin: 5px;
}

#phoneNumberAttr,
#addressAttr {
  font-size: 1.3rem;
  color: #bd2b2f;
}

#descriptionAttr {
  font-size: 1.2rem;
  font-style: italic;
}

.saveBtn {
  float: right;
}

#article-section {
  background-color: #d2d2d2;
  color: black;
}

.articleHeadline {
  margin: 5px;
  padding: 5px;
  background-color: rgb(224, 224, 224);
}

.articleHeadline button {
  color: salmon;
  float: left;
}

.ulArticle {
  list-style-type: none;
}

#articleHeader {
  margin-left: 10%;
  color: white;
  font-family: sans-serif;
}
